#!/usr/bin/make -f

PKG=$(shell dh_listpackages)
VERSION=2

%:
	dh $@

override_dh_auto_install:
	mkdir -p ./debian/$(PKG)/usr/lib/$(PKG)
	for FILE in modules/*; do \
	  mv $$FILE ./debian/$(PKG)/usr/lib/$(PKG); \
	done
